@import "styles/colors";

.container {
  background-color: $pureWhite;
  border-color: $blue-500;
  border-radius: 0.5rem;
  box-shadow: $shadow-lg;
  padding: 1rem;
  border-top-width: 4px;
}

.title {
  color: $gray-600;
  text-transform: uppercase;
  font-size: 0.75rem;
}

.value {
  color: $blue-600;
  font-weight: 700;
  font-size: 1.875rem;
}
