@import "styles/colors";

.topContainer {
  grid-area: sidebar;
  //height: 100vh;
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  gap: 0.25rem;
  background-color: rgba(256, 256, 256, 0.9);
  color: $pureBlack;
}

.pageLink {
  &_container {
    display: flex;
    padding: 0.75rem 0.5rem;
    justify-content: center;
    width: 100%;
    @media (min-width: 640px) {
      padding-left: 1.5rem;
      padding-right: 1.5rem;
      justify-content: flex-start;
    }

    &_text {
      color: $gray-200;

      &:hover {
        color: $pureWhite;
      }
    }

    &_textCurrent {
      color: $yellow-500;
    }
  }
}

.iconContainer {
  margin-right: 0;
  @media (min-width: 640px) {
    margin-right: 1rem;
  }
}

.label {
  display: none;
  @media (min-width: 640px) {
    display: block;
  }
}
