@import "styles/colors";

.container {
  grid-area: sidebar;
  //height: 100vh;
  padding: 1.25rem 2.5rem;
  display: flex;
  justify-content: flex-start;
  flex-direction: column;
  background-color: rgba(256, 256, 256, 0.9);
  color: $pureBlack;
}