.container {
  //padding: 0 2rem;
  width: 100%;
  height: 100%;

  display: grid;
  grid-template-areas:
          'header header'
          'sidebar main'
          'footer footer';
  grid-template-columns: min-content 1fr;
  grid-template-rows: 1fr max-content min-content;
  grid-gap: 0;
}
