.topContainer {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-areas:
          'header'
          'main'
          'footer';
  grid-template-columns: 1fr;
  grid-template-rows: 1fr max-content min-content;
  grid-gap: 0;

  &_main {
    background: url('https://images.unsplash.com/photo-1623771702313-39dc4f71d275?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80') 0 0/cover no-repeat;
    display: grid;
    grid-template-areas:
          'sidebar main';
    grid-template-columns: min-content 1fr;
    grid-template-rows: minmax(80vh, 100%);
  }
}

