@import "styles/colors";

.title {
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: $gray-700;
}

.inventoryItemContainer {
  background-color: $pureWhite;
  border-radius: 0.25rem;
  box-shadow: $shadow-lg;
  padding: 1rem;
  margin-bottom: 1rem;
}

.newInventoryItem {
  background-color: $pureWhite;
  padding: 1rem;
  box-shadow: $shadow-lg;
  border-radius: 0.375rem;

  &_title {
    margin-bottom: 0.5rem;
    font-weight: 700;
  }
}

.inventoryItem {
  display: flex;

  &_img {
    border-radius: 0.25rem;
    width: 8rem;
    height: 100%;

  }

  &_container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &_inlay {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      margin-left: 1rem;
    }
  }

  &_name {
    color: $gray-900;
    font-weight: 700;
    font-size: 1.25rem;

  }

  &_number {
    color: $gray-600;
    font-size: 0.875rem;

  }

  &_price {
    color: $gray-700;
    font-size: 1.25rem;

  }

  &_btn {
    align-self: flex-end;

  }
}
