@import "styles/colors";

.title {
  font-weight: 700;
  margin-bottom: 0.25rem;
  color: $gray-700;
}

.formField {
  border-width: 1px;
  border-color: $gray-300;
  border-radius: 0.25rem;
  padding: 0.25rem;
  width: 100%;
  margin-bottom: 0.5rem;
  height: 14rem;
}

.formContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0.5rem;
  gap: 0.5rem;
  @media (min-width: 640px) {
    width: 30rem;
  }
}
