@import "styles/colors";

.wrapper {
  margin-top: 0.25rem;
  margin-bottom: 0.25rem;
  @media (min-width: 640px) {
    margin-top: 1rem;
    margin-bottom: 1rem;
  }
}

.content {
  color: $blue-100;
  font-weight: 700;
  font-size: 1.5rem;
}
