// Colors
$lightBlue: #4fb3ec;
$lightBlueLight: #4fb2ec7e;
$darkBlue: #119ad0;
$buttonHover: #ffc76d;
$lightGrey: #f0f0f0;
$darkWhite: #fefefe;
$pureWhite: #ffffff;
$bgLightGrey: #9b9b9b;
$darkGrey: #777777;
$lightBlack: #222222;
$pureBlack: #000000;
$lightBlueMsg: #e0f1f8;
$deleteBtnColor: #ff0000;
$requiredAsterisk: #ff0000;
$gray-700: #4a5568;
$blue-900: #2a4365;


$bg-gradient-fwd: linear-gradient(
                135deg,
                rgba(0, 200, 255, 1) 0%,
                rgba(0, 97, 215, 1) 100%
);
$bg-gradient-rev: linear-gradient(
                135deg,
                rgba(0, 97, 215, 1) 0%,
                rgba(0, 200, 255, 1) 100%
);

$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
