// Colors
$lightBlue: #4fb3ec;
$lightBlueLight: #4fb2ec7e;
$darkBlue: #119ad0;
$buttonHover: #ffc76d;
$lightGrey: #f0f0f0;
$darkWhite: #fefefe;
$pureWhite: #ffffff;
$bgLightGrey: #9b9b9b;
$darkGrey: #777777;
$lightBlack: #222222;
$pureBlack: #000000;
$lightBlueMsg: #e0f1f8;
$deleteBtnColor: #ff0000;
$requiredAsterisk: #ff0000;

$red-500: #f56565;
$red-600: #e53e3e;

$green-700: #2f855a;
$teal-900: #234e52;

$yellow-500: #ecc94b;

$gray-100: #f7fafc;
$gray-200: #edf2f7;
$gray-300: #e2e8f0;
$gray-400: #cbd5e0;
$gray-500: #a0aec0;
$gray-700: #4a5568;
$gray-800: #2d3748;
$gray-900: #1a202c;

$blue-100: #ebf8ff;
$blue-300: #90cdf4;
$blue-500: #4299e1;
$blue-600: #3182ce;
$blue-800: #2c5282;
$blue-900: #2a4365;

$bg-gradient-fwd: linear-gradient(
  135deg,
  rgba(0, 200, 255, 1) 0%,
  rgba(0, 97, 215, 1) 100%
);
$bg-gradient-rev: linear-gradient(
  135deg,
  rgba(0, 97, 215, 1) 0%,
  rgba(0, 200, 255, 1) 100%
);

$shadow-lg: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
  0 4px 6px -2px rgba(0, 0, 0, 0.05);
