@import "styles/colors";

.homePage {
  height: 100%;
  //background: url('https://images.unsplash.com/photo-1623771702313-39dc4f71d275?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1740&q=80') 0 0/cover no-repeat;
  //position: sticky;
  //top: 0;
  //left: 0;
  // TODO Sidebar hang up
}

.container {
  width: 100%;
  margin-top: 8rem;
  padding-left: 3rem;
  padding-right: 3rem;

}